<f:layout name="Default" />
<f:section name="main">
<f:flashMessages />

<f:render partial="Member/Filter" />
<f:render partial="Member/Membership" />

<table class="tx_t3omembership" >
	<tr>
		<th><f:translate key="tx_t3omembership_domain_model_member.name" /></th>
		<th><f:translate key="tx_t3omembership_domain_model_member.country" /></th>
		<th><f:translate key="tx_t3omembership_domain_model_member.membership" /></th>
	</tr>

	<f:for each="{members}" as="member">
		<tr>
			<td>{member.name}</td>
			<td>{member.country}</td>
			<td>{member.membership}</td>
		</tr>
	</f:for>
</table>
</f:section>